/* +++-[ HEADER ]-+++++++++++++++++++++++++++++++++++++++ */
.title-david {
	margin: 30px 0 50px 0;
	text-align: center;
}

/* +++-[ team.html -> alveol ]-++++++++++++++++++++++++++ */
.alveole {
	display: grid;
	grid-template: 3fr / 5fr;

	width: 90vw;
}

.fig1 {
	grid-area: 1 / 1 / 2 / 2;

	position: absolute;
	left: 413px;
}

.fig2 {
	grid-area: 1 / 3 / 2 / 4;

	position: absolute;
	left: 913px;
}

.fig3 {
	grid-area: 2 / 1 / 3 / 2;

	position: absolute;
	left: 161px;
	top: 376px;
}

.fig4 {
	grid-area: 2 / 3 / 3 / 4;

	position: absolute;
	left: 1163px;
	top: 376px;
}

.fig5 {
	grid-area: 3 / 1 / 4 / 2;

	position: absolute;
	left: 412px;
	top: 752px;
}

.fig6 {
	grid-area: 3 / 3 / 4 / 4;

	position: absolute;
	left: 913px;
	top: 752px;
}
.img1 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

	image-size: 100%;
}

.img2 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img3 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img4 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img5 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img6 {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* +++-[ DIVERS ]-+++++++++++++++++++++++++++++++++++++++ */
.marge-david {
	margin: 150px;
}

.line-david {
	line-height: 2;
}

/* +++-[ FOOTER ]-+++++++++++++++++++++++++++++++++++++++ */
.footer-david {
	display: flex;
	padding: 15px;
}

.input-david {
	width: 10px;
}

.menu-footer-david {
	height: 220px;
}

.address-david {
	font-size: 0.8rem;
	height: 100px;
}

