/* +++-[ HEADER ]-+++++++++++++++++++++++++++++++++++++++ */
.title-david {
	margin: 30px 0 50px 0;
	text-align: center;
}
.marge-david {
	margin: 150px;
}

.line-david {
	line-height: 2;
}

/* +++-[ FOOTER ]-+++++++++++++++++++++++++++++++++++++++ */
.footer-david {
	display: flex;
	padding: 15px;
}

.input-david {
	width: 10px;
}

.menu-footer-david {
	height: 220px;
}

.address-david {
	font-size: 0.8rem;
	height: 100px;
}

