
.fa-connectdevelop {
  font-size: 3rem;
}

.section__article-phone-img {
  background-color: rgba(255, 84, 78, 0.4);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ---[ DAVID'S STYLES BELOW ]----------------------------- */

/* +++-[ HEADER ]-+++++++++++++++++++++++++++++++++++++++ */
.page-title {
	margin: 30px 0 50px 0;
	text-align: center;
}

/* +++-[ team.html -> alveol ]-++++++++++++++++++++++++++ */
@media (min-width: 768px) {
		.alveole {
		display: grid;
		grid-template: 260px 116px 261px / repeat(3, 250px);
		
		justify-content: center;
		align-content: center;

		align-items: center;
		justify-items: center;
	}

	.txt {
		position: absolute;

		font-size: 0.8rem;
		color: #fff;
		text-shadow: 1px 1px #000;

		top: 70%;
		left: 10%;
	}

	.fig1 {
		grid-area: 1 / 1 / 2 / 3;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;

		margin-right: -45px;
	}
	.figcap1 {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.fig1:hover .figcap1{
		opacity: 1;
	}

	.fig2 {
		grid-area: 1 / 2 / 2 / 4;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;

		margin-left: -45px;
	}

	.fig2:hover .figcap2{
		opacity: 1;
	}

	.figcap2 {
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.fig3 {
		grid-area: 2 / 1 / 3 / 2;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;
		
		margin-right: -92px;
		margin-top: 13px;
	}

	.fig3:hover .figcap3{
		opacity: 1;
	}

	.figcap3 {
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.fig4 {
		grid-area: 2 / 3 / 3 / 4;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;

		margin-left: -92px;
		margin-top: 13px;
	}

	.fig4:hover .figcap4{
		opacity: 1;
	}

	.figcap4 {
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.fig5 {
		grid-area: 3 / 1 / 4 / 3;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;

		margin-top: 29px;
		margin-right: -45px;
	}
	.fig5:hover .figcap5{
		opacity: 1;
	}

	.figcap5 {
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.fig6 {
		grid-area: 3 / 2 / 4 / 4;

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		font-size: 1.5rem;
		font-weight: bold;
		position: relative;

		margin-top: 29px;
		margin-left: -45px;
	}
	.fig6:hover .figcap6{
		opacity: 1;
	}

	.figcap6 {
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background-color: rgba(30, 205, 147, 0.5);
		opacity: 0;
	}

	.img1 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img1:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img1, .figcap1 {
		transition: all .70s ease;
	}

	.img2 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img2:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img2, .figcap2 {
		transition: all .70s ease;
	}

	.img3 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img3:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img3, .figcap3 {
		transition: all .70s ease;
	}

	.img4 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img4:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img4, .figcap4 {
		transition: all .70s ease;
	}

	.img5 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img5:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img5, .figcap5 {
		transition: all .70s ease;
	}

	.
	.img6 {
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.img6:hover {
		-webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
		filter: opacity(30%);
	}

	.img6, .figcap6 {
		transition: all .70s ease;
	}
}

@media (max-width: 768px) {
	.alveole {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.txt {
		text-align: center;	
		margin-bottom: 15px;
	}

	.alveole__logo {
		display: none;	
	}
}


/* +++-[ DIVERS ]-+++++++++++++++++++++++++++++++++++++++ */
.margin-before-footer {
	margin: 150px;
}

.line-david {
	line-height: 2;
}

/* +++-[ FOOTER ]-+++++++++++++++++++++++++++++++++++++++ */
.page-footer {
	display: flex;
	padding: 15px;
}

.input__width-w10 {
	width: 10px;
}
.page-footer__address {
	font-size: 0.8rem;
	height: 100px;
}
